[Desktop Entry]
Name=AwesomeWM
Type=Application
Exec=nixGL awesome
TryExec=/usr/bin/gnome-shell
X-GDM-SessionRegisters=true
X-Ubuntu-Gettext-Domain=gnome-session-3.0
